<nav class="ui clear menu" style="border:2px double black; color: white; border-radius: 2px; margin-top: 0px">
  <img width="99.55%" src="images/navbar2.jpg" style="position: absolute; height:44px; border:2px double black" >
  <header class=" clear header item" ><a href="#" style="color: white"><i class="home icon"></i>MicroBlog</a></header>
  <div class="right menu">
    <a id="stats" class=" ui item" href="/adminstats" style="color: white">Stats</a>
    <a id="admin" class=" ui item" href="/admin" style="color: white">Admin Control</a>
    <a class="item" href="/logout" style=" color: white"><i class="edit icon"></i>Log-Out</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("red active item");
</script>