
<nav class="ui center aligned clear menu" style="border:2px double black; color: white; border-radius: 2px; margin-top: 0px; width: 99.8%">
  <img  src="images/navbar2.jpg" style="position: absolute; height:44px; border:2px double black; width:99.6%" >
  <header class="header item" ><a id="main" href="/" style="color: white"><i class="home icon"></i>MyTweet</a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup" style=" color: white"><i class="edit icon"></i>Sign-Up</a>
    <a id="login" class="item" href="/login" style=" color: white"><i class="sign in icon"></i>Log-In</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("red active item");
</script>