<nav class="ui clear menu" style="border:2px double black; color: white; border-radius: 2px; margin-top: 0px">
  <img width="99.55%" src="images/navbar2.jpg" style="position: absolute; height:44px; border:2px double black" >
  <header class=" clear header item" ><a href="/" style="color: white"><i class="home icon"></i>MyTweet</a></header>
  <div class="right menu">
    <form action="/getprofile" method="POST">
      <button id="profile" type="submit" class="item" style="color:white; background-color: rgba(0,0,0,.0);border:none;font:inherit;outline:none">
        <input value="{{current._id}}" name="_id" hidden>Profile
      </button>
    </form>
    <a id="publicblogs" class="item" href="/publicblogs" style=" color: white">TweetTimeLine</a>
    <a id="settings" class=" item" href="/settings" style=" color: white">Settings</a>
    <a id="postblogs" class=" item" href="/postblog" style=" color: white">Tweet</a>
    <a class="item"  href="/logout" style=" color: white"><i class="log out icon"></i>Log-Out</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("red active item");
</script>