<div class="text" style="color:white; margin-top:5%; font-size: 15px">
  <h1>Register MicroBlog account here...</h1>
</div>
<div class="two fields">
  <div class="field">
    <label style="color: white">First Name</label>
    <input placeholder="First Name" id="firstName" name ="firstName" type="text"  style="border:1px solid black">
  </div>
  <div class="field">
    <label style="color: white">Last Name</label>
    <input placeholder="Last Name" id="lastName" name ="lastName" type="text"  style="border:1px solid black">
  </div>
</div>
<div class="two fields">
  <div class="field">
    <label style="color: white">Email</label>
    <input placeholder="Email" id="email" name ="email" type="text"  style="border:1px solid black">
  </div>
  <div class="field">
    <label style="color: white">Password</label>
    <input placeholder="Password" type="password" id="password" name ="password"  style="border:1px solid black">
  </div>
</div>
<button class="ui transparent button" style="color:steelblue" >Submit</button>