{{> adminnav _id="stats" }}
<section class="ui two column grid">
  <div class="ui eight wide column" >
    <div class="ui two row grid">
      <section class="row" style="margin-bottom: 60%">
        <div class="ui eight wide column">
          <div id="chartContainer" style=" background-color: rgba(0,0,0,.0 )"></div>
        </div>
        <div class="ui eight wide column">
          <div id="tweetBarContainer" style=" background-color: rgba(0,0,0,.0 )"></div>
        </div>
      </section>
      <section class="row" style="margin-bottom: 60%">
        <div class="ui eight wide column">
          <div id="barContainer" style=" background-color: rgba(0,0,0,.0 )"></div>
        </div>
        <div class="ui eight wide column">
          <div id="followedByBarContainer" style=" background-color: rgba(0,0,0,.0 )"></div>
        </div>
      </section>
      <section class="row" >
        <div class="ui eight wide column">
          <div id="followsPie" style=" background-color: rgba(0,0,0,.0 )"></div>
        </div>
        <div class="ui eight wide column">
          <div id="followedByPie" style=" background-color: rgba(0,0,0,.0 )"></div>
        </div>
      </section>
    </div>
  </div>
  <div class="ui eight wide column">
    <div class="ui center aligned segment" style="background-color: rgba(0,0,0,.8); border:2px solid silver">
      <div class="ui large header" style="color:white;">MicroBlog Users</div>
    </div>
    <div class="ui six doubling cards">
      {{#each users}}

        <div class="ui card" style="  background-color: rgba(0,0,0,.8);" >
          <div class="ui image" >
            <div class="center aligned header"><img class="ui image" style="height:100px;width:100%; border:5px double silver; opacity: .9" onerror="this.src= $(this).attr('altSrc')" altSrc="images/avatar.jpg" src="/getImage/{{_id}}" ></div>
          </div>
          <div class="ui content">
            <div class="center aligned header" style="color:white; font-size: x-small">{{firstName}}<br> {{lastName}}</div>
            <br>
            <div class="left aligned header" style="color:white; font-size: x-small">Followers: {{followedBy.length}}</div>
            <div class="left aligned header" style="color:white; font-size: x-small">Follows: {{follows.length}}</div>
          </div>
        </div>

      {{/each}}
    </div>
  </div>
</section>









<div class ="ui segment" style="display:none">
  {{#each users}}
    <input class="tweetName" value="{{this.firstName}} {{this.lastName}}" >
    <input class="tweetTotal" value="{{this.tweetNumber}}" >
    <input class="numberNames" value="{{this.firstName}} {{this.lastName}}">
    <input class="numberFollows" value="{{this.follows.length}}"  >
    <input class="numberFollowedBy" value="{{this.followedBy.length}}">
  {{/each}}
</div>

<script type="text/javascript" src="javascript/adminstats.js"></script>
<script type="text/javascript" src="javascript/canvas.js"></script>