
{{> mainnav _id="login" }}

<section class="ui two column grid">
  <div class="ui ten wide column">
    <div class="text" style="color:white; margin-left: 5%; margin-top:5%; font-size: 15px">
      <h1>
        Not a member? Sign up <a href="/signup">here</a>
      </h1>
    </div>
    <section class="ui form " style="margin-left: 5%; color:white">
      <h4>If already registered log in and begin publishing</h4>
      <form class="ui form" action="/authenticate" method="POST">
        <div class="field" style="width:25%; ">
          <label style="color: white"> Username: </label> <input type="text" name="email"  style="border:1px solid black">
        </div>
        <div class="field" style="width:25%">
          <label style="color: white"> Password: </label> <input type="password" name="password"  style="border:1px solid black">
        </div>
        <button class="ui transparent button" style="color:steelblue">Login</button>
      </form>
      {{> formerror }}
    </section>
  </div>
</section>