{{> secondarynav _id="postblogs" }}
<section class="ui two column grid">
  <section class="ui eight wide column" >
    <section class="ui form section" style="margin-left: 5%; margin-top: 1%">
      <form class="ui form" action="/postBlog" method="POST" enctype="multipart/form-data">
        <div class="field">
          <div class="ui center aligned header" style="color: white; background-color: rgba(0,0,0,.8); border: 2px solid red">Post</div>
          <textarea name="tweetMessage" placeholder="Enter your post here..." style="border:1px solid red; background-color: rgba(0,0,0,.8); color:white "  onkeydown="textCounter(this,'counter',140);" onkeyup="textCounter(this,'counter',140);" maxlength="140"></textarea>
        </div>
        <div class="ui three column grid" >
          <div class="ui column">
            <label for="img"><i class="inverted white big camera retro icon" style="float: left"></i></label>
            <input type="file" name="img" id="img" style="display:none">
          </div>
          <div class="ui center aligned column"><input disabled value="140" id="counter" name="counter" style="width:30%; height:85%"></div>
          <div class="ui column">
            <button class="ui button" style="background-color: rgba(0,0,0,.8);color:white;width:30%; height:90%;float:right"><i class=" big twitter icon"></i></button>
          </div>
        </div>

      </form>

    </section>
  </section>

    {{> bloglist }}

  </section>
<script type="text/javascript" src="javascript/javascript.js"></script>