{{> secondarynav _id="profile" }}
<div class="ui three column grid">
  <div class="ui four wide column">
    <section class="ui two column grid">
      <div class ="column" id="follows">
        <section class="ui compact segment" style="background-color: rgba(0,0,0,.0)" id="follows">
          <div class="ui center aligned header" style="color:white">Following</div>
          {{#each follows}}
            <form action="/getprofile" method="POST">
              <button type="submit" class="center aligned header" style="color:white; background-color: rgba(0,0,0,.0);border:none;outline:none">
              <div class="ui card" style="width:100%; background-color: rgba(0,0,0,.8);">
                <input value="{{this._id}}" name="_id" hidden>
                <div class="image" >
                  <img class="ui image" style="border:5px double silver; height:60%; width:70%; border-radius: 100px; opacity: .9; margin-left:15%" onerror="this.src= $(this).attr('altSrc')" altSrc="/images/avatar.jpg" src="/getImage/{{this._id}}" >
                </div>
                <div class="content">
                  <div  class="center aligned header" style="color:white; background-color: rgba(0,0,0,.0);">{{this.firstName}} {{this.lastName}}</div>
                </div>
                <div class="center aligned extra content" id="number" style="color:white">
                  Following: {{this.follows.length}}
                </div>
              </div>
                </button>
            </form>
          {{/each}}
        </section>
      </div>
      <div class ="column">
        <section class="ui compact segment" style="background-color: rgba(0,0,0,.0)" id="followedBy">
          <div class="ui center aligned header" style="color:white">Followers</div>
          {{#each followedBy}}
            <div class="follower">
            <form action="/getprofile" method="POST">
              <button type="submit" class="center aligned header" style="color:white; background-color: rgba(0,0,0,.0);border:none;outline:none">
                <div class="ui card" style="width:100%; background-color: rgba(0,0,0,.8);"  value="{{this._id}}">
                  <input value="{{this._id}}" name="_id" class="foll" hidden>
                  <div class="image" >
                    <img class="ui image" style="border:5px double silver; height:60%; width:70%; border-radius: 100px; opacity: .9; margin-left:15%" onerror="this.src= $(this).attr('altSrc')" altSrc="/images/avatar.jpg" src="/getImage/{{this._id}}" >
                  </div>
                  <div class="content">
                    <div  class="center aligned header" style="color:white; background-color: rgba(0,0,0,.0);">{{this.firstName}} {{this.lastName}}</div>
                  </div>
                  <div class="center aligned extra content" style="color:white">
                    Following: {{this.follows.length}}
                  </div>
                </div>
              </button>
            </form>
            </div>
          {{/each}}
        </section>
      </div>
    </section>
  </div>
  <div class="ui eight wide column">
    <div class="ui center aligned segment" style="background-color: rgba(0,0,0,.8); border:2px solid silver">
      <div class="ui large header" style="color:white;">{{target.firstName}}'s Social Timeline...</div>
    </div>
    {{#each tweets}}
      <div class="ui card" style="width:100%; background-color: rgba(0,0,0,.8);">
        <div class="content">
          <div class="center aligned header" style="color:white;background-color: rgba(25,25,112,.7)">{{user.firstName}} tweets...</div>
          </div>
        <input value="{{this._id}}" name="_id" hidden>
    {{#if this.img.data}}
        <div class="image" >
          <img class="ui image" style="border:1px solid silver;border:5px double silver; height:20em; width:50%; margin:auto;" onerror="this.src= $(this).attr('altSrc')"src="/getBlogImage/{{_id}}" >
        </div>
    {{/if}}
        <div class="content">
          <div class="center aligned header" style="color:white">{{tweetMessage}}</div>
        </div>
        <div class="extra-content">
          <div class="center aligned date header" style="color:white; font-size: x-small" id="date" onload="return now()">{{createdAt}}</div>
        </div>
      </div>
  {{/each}}</div>
  <div class="ui four wide right aligned column" >
    <article class="ui container">
      <div class="ui card" style=" margin-left:5%; background-color: rgba(0,0,0,.8);">
        <div class="image" >
          <img class="ui image" style="border:5px double silver; height:60%; width:70%; border-radius: 100px; opacity: .9; margin-left:15%" onerror="this.src= $(this).attr('altSrc')" altSrc="/images/avatar.jpg" src="/getImage/{{target._id}}" >
        </div>
        <div class="content">
          <a class="center aligned header" style="color:white">{{target.firstName}}</a>
        </div>
        <div class="center aligned extra content" style="color:white">
          <i class="list icon"></i>
          Number of tweets: {{numberTweets}}
        </div>
        <div class="center aligned extra content" style="color:white; width:100%">
          <form class="ui form follow" action="/follow" method="POST">
            <input value="{{current.firstName}} {{current.lastName}}" id="follower" hidden>
            <input value="{{current._id}}" name="source" id="source" hidden>
            <input value="{{current.follows.length}}" id="numberFollows" hidden>
            <input value="{{target._id}}" name="target" hidden>
            <button class="ui inverted button" style="background-color: rgba(0,0,0,.0);color:white; display:block; width:100%;" id="followButton"  onClick="check()">Follow</button>
          </form>
          <form class="ui form unfollow" action="/unfollow" method="POST">
            <input value="{{current.firstName}} {{current.lastName}}" id="follower" hidden>
            <input value="{{current._id}}" name="source" id="source" hidden>
            <input value="{{target._id}}" name="target" id="target" hidden>
            <button class="ui inverted button" style="background-color: rgba(0,0,0,.0);color:white; display:block; width:100%; display:none" id="unfollowButton" onClick="uncheck()" >unFollow</button>
          </form>
        </div>
      </div>
    </article>
  </div>
</div>

{{#each ids}}
  <input class="usersIds" hidden value="{{this}}">
{{/each}}



<script type="text/javascript" src="javascript/profile.js"></script>




