{{> secondarynav _id="publicblogs" }}
<section class="ui center aligned section" style="width:80%; margin-left:10%">
    <div class="ui center aligned segment" style="background-color: rgba(0,0,0,.8); border: 2px solid silver">
      <div class="ui large header" style="color:white;">Timeline</div>
    </div>
  <div class="ui two column grid">
    <div class="ui center aligned four wide column">
      <form class="ui form" action="/selectBlogger" method="POST">
        <div class="ui  segment" style="background-color: rgba(0,0,0,.8); border:1px solid silver">
        <div class="ui selection dropdown" name="user" style="background-color: rgba(255, 0, 0, .5); margin-top:5%; border: 2px solid black; width:auto" >
          <input type="hidden" name="user" required>
          <div class="text" style="color:white" >Select Blogger</div>
          <i class="ui dropdown icon"></i>
          <div class="menu" >
            <div class="item" style="background-color: rgba(0,0,0,.8); color:white" >All Bloggers</div>
            {{#each users}}
            <div class="item" style="background-color: rgba(0,0,0,.8); color:white">{{email}}</div>
            {{/each}}
          </div>
        </div>
        <button class="ui transparent tiny button" style="color:steelblue"><i class="add icon"></i>Filter</button>
        </div>
      </form>
    </div>
    <div class="ui twelve wide column">
      {{#each tweets}}
      <div class="ui  center aligned segment" style="background-color: rgba(25,25,112,.5); color: white; border:2px solid red">

        <div class="ui row" style="border:1px solid silver;  color:white; background-color: rgba(0,0,0,.8)">
          <form action="/getprofile" method="POST">
            <input value="{{user._id}}" name="_id" hidden>
          <button type="submit" style="color:white; background-color: rgba(0,0,0,.0);border:none;outline:none"><img class="ui avatar image" onerror="this.src= $(this).attr('altSrc')" altSrc="images/avatar.jpg" src="/getImage/{{user._id}}" style="height:35px; width:35px; border: 1px solid silver" >{{user.firstName}}'s Blogs...</button>
          </form>
        </div>
          {{#if this.img.data}}
          <div class="ui center aligned row" style="border:1px solid silver;">
              <img class="ui small image"  src="/getBlogImage/{{_id}}" style="border:1px solid silver;border:5px double silver; height:20em; width:50%; margin:auto;">
          </div>
          {{/if}}
        <div class="ui row" style="border:1px solid silver; color:white; word-wrap: break-word">
          <p>{{tweetMessage}}</p>
        </div>
        <div class="center aligned date header" style="color:white; font-size:x-small" id="date" onload="return now()">{{createdAt}}</div>

      </div>
      {{/each}}
    </div>


  </div>

</section>

<script type="text/javascript" src="javascript/javascript.js"></script>