
{{> mainnav _id="signup" }}

<div class="ui two column grid">


      <div class="ui five wide column" style="margin-left: 5%">
        <section class="ui form" style="margin-top: 5%">
          <form class="ui form" action="/register" method="POST">
            {{> signuppartial }}
          </form>
          {{> formerror }}
        </section>
        {{#if existingUser}}
          <div class="ui segment" >
            <p class="ui center aligned header" style="color:red">{{existingUser}}</p>
          </div>
        {{/if}}
      </div>
   </div>